{{- if .Values.redis.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "stratium.redis.serviceName" . }}
  labels:
    {{- include "stratium.redis.labels" . | nindent 4 }}
spec:
  type: {{ .Values.redis.service.type }}
  ports:
  - name: redis
    port: {{ .Values.redis.service.port }}
    targetPort: redis
    protocol: TCP
  selector:
    {{- include "stratium.redis.selectorLabels" . | nindent 4 }}
{{- end }}